version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
    open-pull-requests-limit: 10
    groups:
      production-dependencies:
        patterns:
          - "dompurify"
      typescript-types:
        patterns:
          - "@types/*"
      linting-and-formatting:
        patterns:
          - "eslint*"
          - "@typescript-eslint/*"
          - "prettier"
      build-tools:
        patterns:
          - "postcss*"
          - "autoprefixer"
          - "cssnano"
          - "typescript"
    assignees:
      - "dependabot[bot]"
    reviewers:
      - "dependabot[bot]"
    commit-message:
      prefix: "chore"
      include: "scope"
    labels:
      - "dependencies"
      - "auto-merge"
